.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


#header{
  background-color: aqua;
  text-align: center;
  height: 100px;
}

#thumbnail{
  height: 60px;
  float: left;
}
