
#adminPage{
  background-color: lightgray;
}

#projectPage{
  background-color: lightgray;
}

#header{
  background-color: rgb(63, 82, 248);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: white;
  padding: 40px; 
  border-style: outset;
  border-width: 10px;
  border-color: rgb(75, 122, 192);
  text-shadow: 0 0 20px black, 0 0 3px gray;
}

#thumbnail{
  height: 200px;
  float: left;
}


#form{
  /* float: inherit; */
  display: inline-block;
  margin-right: 30px;

  
}

li{
  list-style-type: none;
}

#right{
  float: right;
}

#left{
  float: left;
}

#center{
  align-content: center;
}

#card{
  background-color: lightsteelblue;
}